@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Patrick+Hand&family=Roboto:wght@300;400&display=swap');
@import "cards.css";
/*
font-family: 'Caveat', cursive;
font-family: 'Roboto', sans-serif; 
font-family: 'Patrick Hand', cursive;
*/

:root {
    --liback: #89CFF0;
    --hovernav: #FDFD96;
    --navfont: 'Roboto', sans-serif; 
    --titlefont: 'Caveat', cursive;
    --bodytext: 'Patrick Hand', cursive;
}


h1,h2,h3,h4,h5 {
    text-align: center;
    margin: 0;
}

h2, h3, h4, h5 {
    color: rgb(255, 255, 255);
    font-family: var(--bodytext);
    filter: drop-shadow(5px 6px 9px #000);
    letter-spacing: 1px;
}

h2 {
    padding-top: 5px;
}

h3 {
    padding-top: 15px;
}

h4 {
    padding-top: 10px;
}

.underline {
    text-decoration: underline;
}

#title {
    color: white;
    font-family: var(--titlefont);
    font-size: min(10vw, 45px);
    filter: drop-shadow(12px 13px 15px #000);
    padding-top: 20px;
    padding-bottom: 20px;
}


li.navitems {
    min-width: 19vw;
    height: auto;
    padding: 8px;
    list-style: none;
    text-align: center;
    font-family: var(--navfont);
    border-radius: 12px;
    font-weight: 300;
    font-size: 20px;
    box-shadow: 6px 7px 15px black;
    background-color: var(--hovernav);
    border: transparent solid 3px;
    transition: border 0.4s ease-out;
}

.link {
    display: block;
    width: 100%;
    height: 100%;
}
/*
li.navitems {
    min-width: 13vw; /* replaced 'width' with 'min-width' 
    height: 35px;
    list-style: none;
    text-align: center;
    font-family: var(--navfont);
    border-radius: 12px;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 6px 7px 15px black;
    background-color: #FDFD96;
    border: transparent solid 3px;
    transition: border 0.4s ease-out;
    overflow-wrap: break-word;
}
*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 2%; /* Add this line */
    box-sizing: border-box; /* Add this line */
}



a.link {
    /* Makes the entire button clickable */
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 10px;
    margin: -2em;
    /* ^^^^^^^^^ */
    color: var(--textcolor);
    text-decoration: none;
    background: none;
}

/* Hover Animaiton and Current */
li.navitems:hover:not(#current) {
    border-color: var(--liback);
}

/*
#current {
background: var(--background);
animation: fadeBackground 0.9s;
animation-fill-mode: forwards;
}

@keyframes fadeBackground {
    from { background-color: var(--background); }
    to { background-color: var(--currentnav); }
  }
*/

.picture {
    width: min(80vw, 450px);
    border-radius: 25px;
    filter: drop-shadow(3px 5px 15px #000);
}

main {
    padding-top: 45px; /* adjust this value to the height of your navbar */
  }

body {
    background: linear-gradient(358deg, #4963d8, #75c9c8, #e4b7e5, #eeb138);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 34s ease infinite;
    -moz-animation: AnimationName 34s ease infinite;
    -o-animation: AnimationName 34s ease infinite;
    animation: AnimationName 34s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}